body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('assets/images/bg-image.jpg');
  background-repeat:no-repeat ;
  background-attachment: fixed;
  background-size: 250vh 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sun-wrapper{
  right: -50vh;
  width: 100vh;
  padding: 20px;
  height: 0;
}
.sun{
  display: flex;
  justify-content:center; /* center items horizontally, in this case /
  align-items: center; / center items vertically, in this case */
  border-radius: 50%;
  height: 200px;
  width: 200px;
  right: 100px;
  background: orange;
  box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow,
    inset 0 0 80px yellow;
  z-index: -99;
}
.container{
  color: white;
  min-width: 30%;
  max-width: 66vh;
  margin: 1px auto;
  margin-top: 150px;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 40px;
  border-radius: 5px;
  background-color: #62625c;
  opacity: 0.7;
}
.form-control{
  margin: 20px ;
}
.form-control input{
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 20px;
}
.form-control-check{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:hover {
  background-color: #222020;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.task{
  background-color: #afb431;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.tasks-wrapper{
  margin-top : 50px
}
.task-reminder{
  border-left: 5px solid green;
  
}
.btn-delete{
  color: red;
 
}
.name-section{
  display: flex;
  justify-content: space-between;
}
.header{
  color: red;
  font-size: larger;
}